<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
      <div class="container">
          <div class="row">
          <div class="col-md-6">
        <p><h2 style="font-size:60px">FRESH FOOD FOR <br />
            A FRESHER YOU</h2></p>
            <br /> <h4>
                        Quality food, Quality life
                    </h4>
           </div>
            <div class="col-md-6">
        <img src="~/image/Side image.png" alt="Side Image" width="70%" />
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/image/Clock.png" alt="Clock" width="40%" />
                </div>
                <div class="col-md-4">
                    <img src="~/image/delivery-truck.png" alt="Delivery Truck" width="40%" />
                </div>
                <div class="col-md-4">
                    <img src="~/image/support.png" alt="Support" width="40%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><i>Online anywhere</i></h3>
                </div>
                <div class="col-md-4">
                    <h3><i>Fast Delivery</i></h3>
                </div>
                <div class="col-md-4">
                    <h3><i>24/7 Support </i></h3>
                
                </div>
            </div>


    </div>

</body>
</html>
